@model BarberShopSystem.Models.Rezervasyon

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Rezervasyon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarih)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profesyonel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profesyonel.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Servis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Servis.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RezervasyonDurumu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RezervasyonDurumu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OlusturulmaTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OlusturulmaTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TarihGuncelleme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TarihGuncelleme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yenilik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yenilik)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
