@model BarberShopSystem.Models.Rezervasyon

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rezervasyon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarih)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profesyonel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profesyonel.İsim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Servis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Servis.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.İsim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RezervasyonDurumu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RezervasyonDurumu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OlusturulmaTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OlusturulmaTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TarihGuncelleme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TarihGuncelleme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yenilik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yenilik)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
