@model BarberShopSystem.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.İsim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.İsim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Posta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Posta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefon )
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefon )
        </dd>
    </dl>
    <hr />
    <h2>Rezervasyonlar:</h2>
    <ul>
        @foreach (var rezervasyon in Model.Rezervasyonlar)
        {
            <li>
                <strong>Rezervasyon Tarihi:</strong> @rezervasyon.Tarih<br />
                <strong>Rezervasyon Durumu:</strong> @((rezervasyon.RezervasyonDurumu) ? "Confirmada" : "Pendiente")<br />
                <strong>Profesional İsim:</strong> @(rezervasyon.Profesyonel != null ? rezervasyon.Profesyonel.İsim : "No asignado")<br />
                <strong>Oluşturma Tarihi:</strong> @rezervasyon.OlusturulmaTarihi<br />
                <strong>Hizmet Açıklaması:</strong> @rezervasyon.Servis?.Descripcion ?? "Sin descripción"<br />
                <strong>Yenilik:</strong> @(string.IsNullOrEmpty(rezervasyon.Yenilik) ? "Sin yenilikes" : rezervasyon.Yenilik)<br />
            </li>
        }
    </ul>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
